.vscode/
.env
.python-version
.venv/
wheelhouse/
build/
.venv/
.python-version
log/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
!__init__.py
TODO
agentsociety-sim
agentsociety-ui
